<aside class="main-sidebar sidebar-dark-primary elevation-4 mb-3">
   <!-- Brand Logo -->
   <div id="branding">
      <a href="#" class="brand-link">
         <img src="../img/database-circle.svg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="height: 250px; ">
         <span class="brand-text font-weight-light">SIMFactory</span>
         </a>
   </div>
   <!-- Sidebar -->
   <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <% if (user.role === 'admin' ){ %>
                  <li class="nav-item menu-open">
                     <a href="/" class="nav-link <%= path === '/administrator' ? 'bg-warning' : 'bg-dark' %>">
                        <i class="nav-icon">
                           <!-- Size 24 -->
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="m10 13.75l-1.1-2.2q-.125-.275-.375-.413T8 11H2V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v5h-5.375L14.9 7.55q-.125-.275-.375-.388T14 7.05q-.275 0-.525.113t-.375.387l-3.1 6.2ZM4 20q-.825 0-1.413-.588T2 18v-5h5.375L9.1 16.45q.125.275.375.413T10 17q.275 0 .525-.138t.375-.412l3.1-6.2l1.1 2.2q.125.275.375.413T16 13h6v5q0 .825-.588 1.413T20 20H4Z"/></svg>
                        </i>
                        <p>Administrator</p>
                     </a>
                  </li>
                <% } else { %>
                  <li class="nav-item menu-open">
                     <a href="/dashboard" class="nav-link <%= path === '/dashboard' ? 'bg-warning' : 'bg-dark' %>">
                        <i class="nav-icon">
                           <!-- Size 24 -->
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="m10 13.75l-1.1-2.2q-.125-.275-.375-.413T8 11H2V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v5h-5.375L14.9 7.55q-.125-.275-.375-.388T14 7.05q-.275 0-.525.113t-.375.387l-3.1 6.2ZM4 20q-.825 0-1.413-.588T2 18v-5h5.375L9.1 16.45q.125.275.375.413T10 17q.275 0 .525-.138t.375-.412l3.1-6.2l1.1 2.2q.125.275.375.413T16 13h6v5q0 .825-.588 1.413T20 20H4Z"/></svg>
                        </i>
                        <p>Dashboard</p>
                     </a>
                  </li>
                     <li class="nav-item menu-open">
                        <a href="#" class="nav-link bg-default">
                           <i class="nav-icon">
                              <!-- Size 24 -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="5" cy="19" r="1" fill="white"/><path fill="white" d="M4 4h2v9H4z"/><path fill="white" d="M7 2H3a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm0 19H3V3h4Z"/><circle cx="12" cy="19" r="1" fill="white"/><path fill="white" d="M11 4h2v9h-2z"/><path fill="white" d="M14 2h-4a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm0 19h-4V3h4Z"/><circle cx="19" cy="19" r="1" fill="white"/><path fill="white" d="M18 4h2v9h-2z"/><path fill="white" d="M21 2h-4a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm0 19h-4V3h4Z"/></svg>
                           </i>
                           <p>
                              Monitoring
                              <i class="right fas fa-angle-left"></i>
                           </p>
                        </a>
                        <ul class="nav nav-treeview">
                           <li class="nav-item">
                              <a href="/monitoring/production" class="nav-link">
                                 <i class="far fa-circle nav-icon"></i>
                                 <p>Production</p>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a href="/monitoring/materials" class="nav-link <%= path === '/monitoring/materials' ? 'bg-warning' : '' %>">
                                 <i class="far fa-circle nav-icon"></i>
                                 <p>Materials</p>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a href="/monitoring/schedules" class="nav-link">
                                 <i class="far fa-circle nav-icon"></i>
                                 <p>Schedules</p>
                              </a>
                           </li>
                        </ul>
                     </li>
                  <% if(user.department === 901 || user.department === 905) { %>
                     <li class="nav-item menu-open">
                        <a href="#" class="nav-link bg-default">
                           <i class="nav-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M1.05 21v-2.8q0-.825.425-1.55t1.175-1.1q1.275-.65 2.875-1.1T9.05 14q1.925 0 3.525.45t2.875 1.1q.75.375 1.175 1.1t.425 1.55V21h-16Zm8-8q-1.65 0-2.825-1.175T5.05 9H4.8q-.225 0-.362-.138T4.3 8.5q0-.225.138-.363T4.8 8h.25q0-1.125.55-2.025T7.05 4.55v.95q0 .225.138.363T7.55 6q.225 0 .363-.138T8.05 5.5V4.15q.225-.075.475-.113T9.05 4q.275 0 .525.038t.475.112V5.5q0 .225.138.363T10.55 6q.225 0 .363-.138t.137-.362v-.95q.9.525 1.45 1.425T13.05 8h.25q.225 0 .363.138t.137.362q0 .225-.138.363T13.3 9h-.25q0 1.65-1.175 2.825T9.05 13Zm0-2q.825 0 1.413-.588T11.05 9h-4q0 .825.588 1.413T9.05 11Zm7.5 4l-.15-.75q-.15-.05-.287-.113t-.263-.187l-.7.25l-.5-.9l.55-.5v-.6l-.55-.5l.5-.9l.7.25q.1-.1.25-.175t.3-.125l.15-.75h1l.15.75q.15.05.3.125t.25.175l.7-.25l.5.9l-.55.5v.6l.55.5l-.5.9l-.7-.25q-.125.125-.263.188t-.287.112l-.15.75h-1Zm.5-1.75q.3 0 .525-.225t.225-.525q0-.3-.225-.525t-.525-.225q-.3 0-.525.225t-.225.525q0 .3.225.525t.525.225Zm1.8-3.25l-.2-1.05q-.225-.075-.412-.188T17.9 8.5l-1.05.35l-.7-1.2l.85-.75q-.05-.125-.05-.2v-.4q0-.075.05-.2l-.85-.75l.7-1.2l1.05.35q.15-.15.338-.263t.412-.187l.2-1.05h1.4l.2 1.05q.225.075.413.188t.337.262l1.05-.35l.7 1.2l-.85.75q.05.125.05.2v.4q0 .075-.05.2l.85.75l-.7 1.2l-1.05-.35q-.15.15-.337.263t-.413.187l-.2 1.05h-1.4Zm.7-2.25q.525 0 .888-.363T20.8 6.5q0-.525-.363-.888t-.887-.362q-.525 0-.888.363T18.3 6.5q0 .525.363.888t.887.362Z"/></svg>
                           </i>
                           <p>
                              Engineering
                              <i class="fas fa-angle-left right"></i>
                           </p>
                        </a>
                        <ul class="nav nav-treeview">
                           <li class="nav-item">
                              <a href="/engineering/models" class="nav-link <%= path === '/engineering/models' ? 'bg-warning' : '' %>">
                                 <i class="far fa-circle nav-icon"></i>
                                 <p>Models</p>
                              </a>
                           </li>
                           <li class="nav-item">
                              <a href="/engineering/materials" class="nav-link">
                                 <i class="far fa-circle nav-icon"></i>
                                 <p>Materials</p>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <% } if(user.department === 904 || user.department === 905){ %>
                        <li class="nav-item menu-open">
                           <a href="#" class="nav-link bg-default">
                              <i class="nav-icon">
                                 <!-- Size 24 -->
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M5.12 5h13.75l-.94-1h-12l-.81 1m15.42.23c.29.34.46.77.46 1.27V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6.5c0-.5.17-.93.46-1.27l1.38-1.68C5.12 3.21 5.53 3 6 3h12c.47 0 .88.21 1.15.55l1.39 1.68M6 18h6v-3H6v3Z"/></svg>
                              </i>
                              <p>
                                 Production
                                 <i class="right fas fa-angle-left"></i>
                              </p>
                           </a>
                           <ul class="nav nav-treeview">
                              <li class="nav-item">
                                 <a href="/production/daily" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Daily Production</p>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a href="/production/control" class="nav-link <%= path === '/production/control' ? 'bg-warning' : '' %>">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Production Control</p>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a href="/production/plan" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Production Plan</p>
                                 </a>
                              </li>
                           </ul>
                        </li>
                     <% } if(user.department === 903 || user.department === 905) { %>
                        <li class="nav-item menu-open">
                           <a href="#" class="nav-link bg-default">
                              <i class="nav-icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><path fill="white" d="M6 19h2v2H6v-2m6-16L2 8v13h2v-8h16v8h2V8L12 3m-4 8H4V9h4v2m6 0h-4V9h4v2m6 0h-4V9h4v2M6 15h2v2H6v-2m4 0h2v2h-2v-2m0 4h2v2h-2v-2m4 0h2v2h-2v-2Z"/></g></svg>
                              </i>
                              <p>
                                 Warehouse
                                 <i class="fas fa-angle-left right"></i>
                              </p>
                           </a>
                           <ul class="nav nav-treeview">
                              <li class="nav-item">
                                 <a href="/warehouse/material" class="nav-link <%= path === '/warehouse/material' ? 'bg-warning' : '' %>">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Materials</p>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a href="/warehouse/inventory" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inventory</p>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <% } if (user.department === 902 || user.department === 905 || user.username === "user"){ %>
                           <li class="nav-item menu-open">
                              <a href="#" class="nav-link bg-default">
                                 <i class="nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="white" fill-rule="evenodd" d="M6 9a3 3 0 0 1 3-3h30a3 3 0 0 1 3 3v30a3 3 0 0 1-3 3H9a3 3 0 0 1-3-3V9Zm13 11a3 3 0 1 1-6 0a3 3 0 1 1 6 0Zm-7 7.727c0-.118.047-.276.256-.486c.218-.22.564-.442 1.019-.641c.914-.4 2.028-.6 2.725-.6c.697 0 1.81.2 2.725.6c.455.198.8.42 1.019.64c.21.211.256.369.256.487V31h2v-3.273c0-.788-.37-1.425-.837-1.896c-.459-.461-1.05-.807-1.637-1.064C18.358 24.257 16.971 24 16 24c-.972 0-2.358.257-3.526.767c-.587.257-1.178.603-1.637 1.064c-.467.471-.837 1.108-.837 1.896V31h2v-3.273Zm16.256-.486c-.21.21-.256.368-.256.486V31h-2v-3.273c0-.788.37-1.425.837-1.896c.459-.461 1.05-.807 1.637-1.064C29.642 24.257 31.029 24 32 24c.971 0 2.358.257 3.526.767c.587.257 1.178.603 1.637 1.064c.468.471.837 1.108.837 1.896V31h-2v-3.273c0-.118-.047-.276-.256-.486c-.218-.22-.564-.442-1.019-.641c-.914-.4-2.028-.6-2.725-.6c-.697 0-1.81.2-2.725.6c-.455.198-.8.42-1.019.64ZM32 23a3 3 0 1 0 0-6a3 3 0 1 0 0 6Zm-5-5a3 3 0 1 1-6 0a3 3 0 1 1 6 0Zm-4.754 7.166c.07-.079.168-.143.451-.17a4.69 4.69 0 0 1 .554-.012l.202.005c.17.005.363.011.547.011c.184 0 .377-.006.547-.01l.202-.006a4.72 4.72 0 0 1 .554.011c.283.028.38.092.451.171l1.492-1.332c-.525-.588-1.18-.774-1.748-.83c-.344-.033-.77-.021-1.12-.012c-.142.004-.272.008-.378.008c-.106 0-.236-.004-.378-.008c-.35-.01-.776-.02-1.12.013c-.568.055-1.223.241-1.748.829l1.492 1.332Z" clip-rule="evenodd"/></svg>
                                 </i>
                                 <p>
                                    Human Resource
                                    <i class="fas fa-angle-left right"></i>
                                 </p>
                              </a>
                              <ul class="nav nav-treeview">
                                 <li class="nav-item">
                                    <a href="/hr/employee" class="nav-link <%= path === '/hr/employee' ? 'bg-warning' : '' %>">
                                       <i class="far fa-circle nav-icon"></i>
                                       <p>Employees</p>
                                    </a>
                                 </li>
                                 <li class="nav-item">
                                    <a href="/hr/department" class="nav-link <%= path === '/hr/department' ? 'bg-warning' : '' %>">
                                       <i class="far fa-circle nav-icon"></i>
                                       <p>Departments</p>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                     <% } %>
                        <li class="nav-header">Others</li>   
                <% } %>
         </ul>
      </nav>
      <!-- /.sidebar-menu -->
   </div>
   <!-- /.sidebar -->
</aside>
<script>
   document.querySelector('#branding').addEventListener('click',(e) => {
      e.preventDefault();
      Swal.fire({
         title: '<strong>SIMFactory Tech-Stack</strong>',
         html: `<b>by</b> ` + `<a href="//dhimasarista.github.io" target="_blank">dhimasarista.github.io</a>`,
         imageUrl: '../../img/tech-stack.svg',
         imageWidth: 400,
         imageHeight: 200,
         imageAlt: 'Custom image',
      })
   });
</script>