<style>
    /* .info-box-icon{
    background: right / 0%  100% no-repeat
    linear-gradient(#636363, #636363);
    transition: background-size 400ms;
    }
    .info-box-icon:hover {
    background: left / 100% 100% no-repeat
    linear-gradient(#636363, #636363);
    } */
    #map{
        height: 333px;
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                    <path fill="white" d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5z">
                        <animateTransform attributeName="transform" attributeType="XML" dur="10s" from="0 12 12" repeatCount="indefinite" to="360 12 12" type="rotate"/>
                    </path>
                </svg>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Productivity</span>
                <span class="info-box-number">
                98
                <small>%</small>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                    <path fill="white" d="M5.12 5h13.75l-.94-1h-12l-.81 1m15.42.23c.29.34.46.77.46 1.27V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6.5c0-.5.17-.93.46-1.27l1.38-1.68C5.12 3.21 5.53 3 6 3h12c.47 0 .88.21 1.15.55l1.39 1.68M6 18h6v-3H6v3Z"/>
                </svg>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Models</span>
                <span class="info-box-number"><%= totalModels %></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Employee</span>
                <span class="info-box-number"><%= totalEmployees %></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M480 160H32c-17.673 0-32-14.327-32-32V64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24z"/>
                </svg>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Server</span>
                <span class="info-box-number" id="metrics"></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Quarter Recap Report</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button> -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a href="#" class="dropdown-item">Print</a>
                            <a href="#" class="dropdown-item">CSV</a>
                            <a href="#" class="dropdown-item">PDF</a>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                        </button> -->
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-center">
                            <strong>Today: 1 May 2045</strong>
                        </p>
                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                            <!-- <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas> -->
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    
                    <!-- /.col -->
                    <div class="col-md-5">
                        <p class="text-center">
                            <strong>Quantity Target</strong>
                        </p>
                        <% var bgClasses = ["bg-primary", "bg-success", "bg-danger", "bg-warning"]; %>
                        <% var classIndex = 0; %>

                        <% models.forEach((model) => { %>
                            <div class="progress-group">
                                <%- model.name %>
                                <span class="float-right"><b><%= model.total_output === null ? '0' : model.total_output %></b>/<%- model.target_quantity %></span>
                                <div class="progress progress-sm">
                                    <div id="target_quantity-<%- model.id %>" class="progress-bar <%= bgClasses[classIndex] %>" style="width: 0%;" ></div>
                                </div>
                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    const progress = parseInt(((parseInt('<%- model.total_output %>') / parseInt('<%- model.target_quantity %>')) * 100).toFixed(1));
                                    const element = document.getElementById("target_quantity-<%- model.id %>");
                                    element.style.width = `${progress}%`;
                                });
                            </script>
                            <% 
                            // Perbarui indeks kelas untuk digunakan pada iterasi berikutnya
                            classIndex++;
                            
                            // Jika indeks kelas melebihi panjang daftar, kembalikan ke 0
                            if (classIndex >= bgClasses.length) {
                                classIndex = 0;
                            }
                            %>
                        <% }); %>  
                        <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
                            <h5 class="description-header"><%- totalProduced %></h5>
                            <span class="description-text">TOTAL PRODUCED</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
                            <h5 class="description-header">$10,390.90</h5>
                            <span class="description-text">TOTAL COST</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
                            <h5 class="description-header">$24,813.53</h5>
                            <span class="description-text">TOTAL PROFIT</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                            <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                            <h5 class="description-header">1200</h5>
                            <span class="description-text">GOAL COMPLETIONS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Our Location</h5>
            </div>
            <div class="card-body">
                <div id="map"></div>
            </div>
        </div>

    <!-- Sertakan skrip Leaflet.js -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        // Inisialisasi peta
        var map = L.map('map').setView([-37.125543, 174.876541], 12);

        // Tambahkan peta dasar OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        // Tambahkan marker di Jawa (contoh)
        var marker = L.marker([-37.125543, 174.876541]).addTo(map);
        marker.bindPopup("<b>Auckland</b><br>Auckland, New Zealand").openPopup();

        // Anda dapat menambahkan marker, poligon, atau data lain sesuai kebutuhan Anda.

    </script>
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">Production</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        </a>
                        </li> -->
                    <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                        </button> -->
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Line</th>
                                <th>Model</th>
                                <th>Status</th>
                                <th>Team/Shift</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">1</a></td>
                                <td>Model 1</td>
                                <td><span class="badge badge-info">Processing</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20">B/2nd</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">2</a></td>
                                <td>Model 2</td>
                                <td><span class="badge badge-danger">Stopped</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00c0ef" data-height="20">D/2nd</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">3</a></td>
                                <td>Model 3</td>
                                <td><span class="badge badge-info">Processing</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f56954" data-height="20">F/2nd</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">4</a></td>
                                <td>Model 4</td>
                                <td><span class="badge badge-success">Finished</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00c0ef" data-height="20">G/1st</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">5</a></td>
                                <td>Model 4</td>
                                <td><span class="badge badge-warning">Finished</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f39c12" data-height="20">H/1st</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">6</a></td>
                                <td>Empty</td>
                                <td><span class="badge badge-dark">Not-Production</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f56954" data-height="20">None</div>
                                </td>
                            </tr>
                            <tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Detail</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Print</a>
            </div>
            <!-- /.card-footer -->
        </div>
    </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Activity Frame</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                                </button>
                        </div>
                </div>
                <style>
                    .carousel-inner img{
                        height: 360px;
                        width: 100%;
                        filter: brightness(50%);
                    }
                </style>
                <div class="card-body">
                    
                    <!-- Carousel -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        
                        <!-- Indikator slide (titik di bawah carousel) -->
                        <ul class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ul>
                
                        <!-- Daftar slide carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1611117775350-ac3950990985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80" alt="Gambar 1">
                                <div class="carousel-caption">
                                    <h3>Production</h3>
                                    <p>Good Quality</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img  src="https://images.unsplash.com/photo-1590496794008-383c8070b257?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1691&q=80" alt="Gambar 2">
                                <div class="carousel-caption">
                                    <h3>Logistic</h3>
                                    <p>Shipping Safe</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img  src="https://images.unsplash.com/photo-1581091226033-d5c48150dbaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="Gambar 3">
                                <div class="carousel-caption">
                                    <h3>Engineering</h3>
                                    <p>High Productivity</p>
                                </div>
                            </div>
                        </div>
                
                        <!-- Tombol navigasi carousel -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- /.row -->
<script>
    'use strict'
    
    // fetch("/metrics")
    // .then(response => response.json())
    // .then(results => {
    //    document.getElementById('metrics').innerHTML = `${results.memory}`
    // });
    
    const eventSource = new EventSource('/metrics');
    const metrics = document.getElementById('metrics');
    metrics.innerHTML = '';
    eventSource.onmessage = function(event) {
        const metricsItem = document.createElement('span');
        metricsItem.textContent = event.data;
        metrics.appendChild(metricsItem);
    }

    // Quarter

    '<% var bgClasses = ["bg-primary", "bg-success", "bg-danger", "bg-warning"]; %>'    
    '<% var classIndex = 0; %>'
    let dataModels = []
    let label = [];
    let backgroundColor = ['rgba(60,141,188,0.9)', 'rgba(19,156,117,1)', 'rgba(255, 200, 0, 1)', 'rgba(255, 0, 64, 1)'];
    let colorIndex = 0;

    // Membuat data acak dibawah 10K

    const randomData = () => {
        const minimun = 4500;
        const random = Math.floor(Math.random() * 10000);
        return Math.max(random, minimun)
    }

    '<% models.forEach((model) => { %>'
        colorIndex++;
        if (colorIndex >= backgroundColor.length) {
            colorIndex = 0;
        }
        dataModels.push({
            label: '<%- model.name %>',
            backgroundColor: backgroundColor[colorIndex],
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: [randomData(), randomData(), randomData(), randomData(), 0]

        })
    '<% }); %> '

    console.log(dataModels);
    
    
    $(function () {
    var salesChartCanvas = $('#salesChart').get(0).getContext('2d')
    
    var salesChartData = {
     labels: ['Q1', 'Q2', 'Q3', 'Q4',],
     datasets: dataModels
    }
    
    var salesChartOptions = {
     maintainAspectRatio: false,
     responsive: true,
     legend: {
       display: false
     },
     scales: {
       xAxes: [{
         gridLines: {
           display: false
         }
       }],
       yAxes: [{
         gridLines: {
           display: true
         }
       }]
     }
    }
    
    // This will get the first returned node in the jQuery collection.
    // eslint-disable-next-line no-unused-vars
    var salesChart = new Chart(salesChartCanvas, {
     type: 'bar',
     data: salesChartData,
     options: salesChartOptions
    }
    )
    });


</script>

