<div class="row">
    <div class="col-12">
       <div class="card">
         <div class="card-header ">
             <h5 class="card-title">Production</h5>
             <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse">
                 <i class="fas fa-minus"></i>
                 </button>
                 <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                 <!-- <li class="nav-item">
                     <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                     </a>
                     </li> -->
                 <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                     <i class="fas fa-times"></i>
                     </button> -->
             </div>
         </div>
         <!-- /.card-header -->
         <div class="card-body p-0">
             <div class="table-responsive">
                 <table class="table m-0">
                     <thead>
                         <tr>
                             <th>Line</th>
                             <th>Model</th>
                             <th>Status</th>
                             <th>Team/Shift</th>
                         </tr>
                     </thead>
                     <tbody>
                        <% lines.forEach((data) => { %>
                         <tr>
                             <td><a href="#"><%- data.production_line_name %></a></td>
                             <td><%- data.models_name %></td>
                              <% if (data.status === "processing") { %>
                                 <td><span class="badge badge-info">Processing</span>
                              <% } else if (data.status === "finished") { %>
                                 <td><span class="badge badge-success">Finished</span></td>
                              <% } else if (data.status === "notproduction") { %>
                                 <td><span class="badge badge-dark">Not-Production</span></td>
                              <% } else if (data.status === "finished-not-target") { %>
                                 <td><span class="badge badge-warning">Finished</span></td>
                              <% } else if (data.status === "stopped") { %>
                                 <td><span class="badge badge-danger">Stopped</span></td>
                              <% } else { %>
                                 <td><span class="badge badge-secondary">Error</span></td>
                              <% } %>
                             <td>
                                 <div class="sparkbar" data-color="#00a65a" data-height="20"><%- data.team_name %>/<% if (data.shift == 1) { %>
                                    <%= data.shift %>st
                                  <% } else { %>
                                    <%= data.shift %>nd
                                  <% } %> </div>
                             </td>
                         </tr>
                         <% }); %>
                     </tbody>
                 </table>
             </div>
             <!-- /.table-responsive -->
         </div>
         <!-- /.card-body -->
         <div class="card-footer clearfix">
             
             <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Print</a>
         </div>
         <!-- /.card-footer -->
     </div>

       <!-- /.card -->
    </div>
    <!-- /.col -->
 </div>
 <script>
    function updateRealTime() {
     const now = new Date();
     const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'};
     const formattedDateTime = now.toLocaleDateString('id-ID', options); // Sesuaikan dengan locale yang Anda inginkan
     
     document.getElementById('realTime').textContent = formattedDateTime;
    }
    
    // Update real-time setiap detik
    setInterval(updateRealTime, 1000);
    
    // Panggil update pertama kali saat halaman dimuat
    updateRealTime();
 </script>