<div class="row">
   <div class="col-12">
      <div class="card">
         <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h3 class="card-title">Production Control</h3>
            <span style="margin-left: auto;">Today's Date: <span id="realTime"></span></span> <!-- Example Date -->
         </div>
         <!-- /.card-header -->
         <div class="card-body">
            <table id="example2" class="table m-0 border-lr table-striped">
               <thead>
                  <tr>
                     <th>Team</th>
                     <th>Line</th>
                     <th>Model</th>
                     <th>Shift</th>
                     <th>Status</th>
                     <th>Control</th>
                  </tr>
               </thead>

               <tbody id="body-table-prodcontrol">
                  <% lines.forEach((data) => { %>
                     <tr>
                        <td><%- data.team_name %></td>
                        <td><%- data.production_line_name %></td>
                        <td><%- data.models_name %></td>
                        <td><% if (data.shift == 1) { %>
                           <span class="badge badge-success"><%= data.shift %>st</span>
                         <% } else { %>
                           <span class="badge badge-warning"><%= data.shift %>nd</span>
                         <% } %>
                        </td>
                        <td id="line-status-<%- data.teams_id %>">
                           <% if (data.status === "processing") { %>
                              <span class="badge badge-info">Processing</span>
                           <% } else if (data.status === "finished") { %>
                               <span class="badge badge-success">Finished</span>
                           <% } else if (data.status === "notproduction") { %>
                               <span class="badge badge-dark">Not-Production</span>
                           <% } else if (data.status === "finished-not-target") { %>
                               <span class="badge badge-warning">Finished</span>
                           <% } else if (data.status === "stopped") { %>
                               <span class="badge badge-danger">Stopped</span>
                           <% } else if (data.status === "waiting") { %>
                               <span class="badge badge-warning">Waiting</span>
                           <% } else if (data.status === "finished-not-confirmed") { %>
                               <span class="badge badge-warning">Finished Not Confirmed</span>
                           <% } else { %>
                               <span class="badge badge-danger">Error</span>
                           <% } %>
                        </td>
                        <td>
                           <a type="button" class="mt-1 mr-1 badge badge-danger" onclick="buttonLineControl(`<%- data.teams_id %>`)">
                              <i>
                                 STOP
                              </i>
                           </a>
                        </td>
                     </tr>   
                  <% }) %>
                  </tfoot>
            </table>
         </div>
         <script>
            const buttonLineControl = (id) => {
               const lineStatus = document.getElementById(`line-status-${id}`);
               if (lineStatus.innerText === "Finished") {
                  toastr.info(`The production line has finished`, "Notice");
                  return;
               }
               lineStatus.innerHTML = null;
               lineStatus.innerHTML = `<td><span class="badge badge-danger">Stopped</span>`;
               toastr.error(`The production line stopped`, "Notice");
            }

            
         </script>
         <!-- /.card-body -->
      </div>
      <div class="card">
         <!-- <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
            </div> -->
         <!-- /.card-header -->
         <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th>Model ID</th>
                     <th>Product Name</th>
                     <th>Target</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Trident</td>
                     <td>Internet
                        Explorer 4.0
                     </td>
                     <td>Win 95+</td>
                     <td> 4</td>
                  </tr>
                  <tr>
                     <td>Trident</td>
                     <td>Internet
                        Explorer 5.0
                     </td>
                     <td>Win 95+</td>
                     <td>5</td>
                  </tr>
                  <tr>
                     <td>Trident</td>
                     <td>Internet
                        Explorer 5.5
                     </td>
                     <td>Win 95+</td>
                     <td>5.5</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- /.card-body -->
      </div>
      <!-- /.card -->
   </div>
   <!-- /.col -->
</div>
<script>
   function updateRealTime() {
    const now = new Date();
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'};
    const formattedDateTime = now.toLocaleDateString('id-ID', options); // Sesuaikan dengan locale yang Anda inginkan
    
    document.getElementById('realTime').textContent = formattedDateTime;
   }
   
   // Update real-time setiap detik
   setInterval(updateRealTime, 1000);
   
   // Panggil update pertama kali saat halaman dimuat
   updateRealTime();
</script>