<style>
    .warning {
    color: red;
    }
 </style>
 <section class="content">
    <div class="container-fluid">
       <div class="row">
         <div class="col-md-4">
            <div class="card card-user">
              <div class="image" style="position: relative;">
                 <!-- Gambar Pertama (gambar latar belakang) -->
                 <img style="width: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;" src="../img/bg1.jpg">
               
                 <!-- Gambar Kedua (gambar profil) -->
                 <img class="img-circle elevation-2" id="photo" style="width: 160px; height: 160px; object-fit: cover; object-position: center; position: absolute; top: 150px; left: 50%; transform: translateX(-50%);" src="data:image/jpeg;base64, <%= photo  %>" alt="...">
                 
                 <div class="card-body" style="margin-top: 50px;">
                    <div class="author text-center" >
                       <a href="#">
                          <h5 class="title"><%= data.name %></h5>
                       </a>
                       <p class="description">
                          <%= user.username %>
                       </p>
                       <div class="row">
                          <div class="col-md-6">
                             <div id="employeeId">
                                <h6 ><b>Employee ID</b></h6>
                                <p><%= data.id %></p>
                             </div>
                          </div>
                          <div class="col-md-6">
                             <h6><b>Department</b></h6>
                             <p><%= data.department_name %></p>
                          </div>
                       </div>
                       
                   </div>
                 </div>
               </div>
             </div> 
            </div>
          <div class="col-md-8">
             <div class="card">
                <div class="card-header">
                   <h3 class="card-title">Edit Profile</h3>
                </div>
                <div class="card-body">
                   <div class="form-group">
                      <label for="new-username">New Username</label>
                      <input type="text" class="form-control" id="new-username" placeholder="Enter new username">
                   </div>
                   <div class="form-group">
                      <label for="new-username">New Password</label>
                      <input type="password" class="form-control" id="new-password" placeholder="Enter new password">
                   </div>
                   <p class="warning">
                    *If you forget your password, please contact the administrator.
                   </p>
                   <button type="button" class="btn btn-primary" onClick="saveEdit(parseInt('<%= data.id %>'))">Save Changes</button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <script>
   if ('<%= photo.data  %>' === '') {
      document.getElementById("photo").src = "../img/profile.jpg"
   }

    const saveEdit = (id) => {
        const newUsername = document.getElementById('new-username').value;
        const newPassword = document.getElementById('new-password').value;
    
        const data = {
           username: newUsername,
            password: newPassword
        };
        
        if (newPassword === "" && newUsername === "") {
            Swal.fire({
                title: "Password is Empty!",
                text: "it will be canceled.",
                icon: "warning",
                confirmButtonText: "OK",
            }).then(() => {
               // Menghilangkan modal dan backdrop
                $("#editModal").modal('hide');
            });
            return;
        }
    
         Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: "Yes, Update it!"
         }).then(result => {
            if (result.isConfirmed) {
               fetch(`/user/profile/${id}`, {
                  method: "PUT",
                  headers: {
                        "Content-Type": "application/json"
                  },
                  body: JSON.stringify(data)}
                  ).then(response => response.json())
                  .then(result => {
                     Swal.fire({
                        title: "Data Updated!",
                        text: "Please, Relogin",
                        icon: "success",
                        confirmButtonText: "OK"
                     }).then((result) => {
                        // Jika tombol OK ditekan
                        if (result.isConfirmed) {
                           // Reload halaman
                           location.reload();
                        }
                     });
                  });
            }
         }).catch(error => {
            console.error("Error updating data:", error);
         });
   }
 </script>