<div class="row">
    <div class="col-12">
       <div class="card ">
          <div class="card-header " style="display: flex; justify-content: space-between; align-items: center;">
             <h3 class="card-title">Departments</h3>
             <span style="margin-left: auto;">
             <button type="button" class="btn btn-secondary" id="newButton">
             New
             </button>
             <button type="button" class="btn btn-secondary" id="departmentButton" style="display: none;"> 
             Departments
             </button>
             <button type="button" class="btn btn-secondary" onclick="printContent()">
             Print
             </button>
             </span>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0 my-2 mx-4" id="departmentTable">
             <div class="table-responsive">
                <table class="table m-0" id="department">
                   <thead>
                      <tr>
                         <th>Code S/N</th>
                         <th>Name</th>
                         <th>Model</th>
                         <th>Stocks</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody id="departmentTableBody">
                     <% data.forEach((material) => { %>
                      <tr>
                         <td><%- material.material_id %></td>
                         <td><a href="#"><%- material.name %></a></td>
                         <td><%- material.models_text %></td>
                         <td><input type="number" id="stocks-<%- material.material_id %>" name="stocks" step="<%- material.stocks %>" value="<%- material.stocks %>"></td>
                         <td style="display: flex; justify-content: flex-end;">
                            <button type="submit" class="btn btn-primary" onclick="updateStocks('<%- material.name %>', parseInt('<%- material.material_id %>'))">Update</button>
                         </td>
                      </tr>
                      <% }); %>
                   </tbody>
                </table>
             </div>
             <!-- /.table-responsive -->
          </div>
          <div class="card-body" id="departmentForm" style="display: none;">
             <form id="addDepartmentForm">
                <div class="form-group">
                   <label for="departmentName">Name</label>
                   <input type="text" class="form-control" id="name" name="name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
             </form>
          </div>
          <!-- /.card-body -->
       </div>
       <!-- /.card -->
    </div>
    <!-- /.col -->
 </div>
 <script>
        let table = new DataTable('#department', {
            deferRender: true, // This option defers rendering of the table until required
            processing: true,  // Show a processing indicator while waiting for data
            sort: false
        });

        const updateStocks = (name, id) => {
         const stocksValue = document.getElementById(`stocks-${id}`).value;
         const data = {
            id: id,
            stocks: parseInt(stocksValue)
         }
         fetch('/warehouse/material', {
            method: "PUT",
            body: JSON.stringify(data),
            headers: {
               'Content-Type': 'application/json'
            }
         }).then(response => response.json())
         .then(results => {
            toastr.success(`Material ${name} Stocks Updated.`, "Success");
         })
         .catch(error => {
            toastr.error(`Material ${name} Stocks Issue.`, "Error");
         })
        }
 </script>